.footer {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #ffbf00;
  position: absolute;
  left: 0;
  right: 0;
  height: 10vh;
 /* position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffbf00 !important;*/
}

/*p {
  padding: 10px;
  text-align: center;
}*/

div p {
  margin: 0;
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
