img {
  width: 60px;
}

.navbar {
  background-color: #ffbf00 !important;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  height: 15vh;
}
#navbarNavAltMarkup{
  display: flex;
  justify-content: flex-end;

}
